*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  text-align: center;
  background: url("images/hero_herb_02.jpg");
  background-size: cover;
  color: #5B5F3A;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h3 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 40px;

}

h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	line-height:300%;
}
#slogan {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	line-height:300%;
	font-weight: bold
}
