body {
  text-align: center;
  background: url("images/hero_herb_02.jpg");
  background-size: cover;
  color: #5B5F3A;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h3 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 40px
}

h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px
}
#slogan {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}